/* 犬塚のCSS */
/* PC、スマホ共通スタイル */
* {
  box-sizing: border-box;
}

/* 見出し */
h2 {
  margin-bottom: 60px;
  font-size: 34px;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
}

h3 {
  font-size: 24px;
}

/* 文章 */
p, ul {
  font-size: 18px;
}


/* Google Fontsの指定 */

body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}
/* ヘッダー */
.header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}

.header-inner a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* MyProfileの見出し部分 */
h1 {
  margin: 0 0 0 20px;
  font-size: 34px;
  border: 1px solid black;
  padding: 0px 20px;
}

.home {
  text-decoration: none;
}

/* ナビゲーションメニュー */
nav .menu {
  display: flex;
  padding-left: 0;
}

nav li {
  margin: 0 20px;
  list-style: none;
}

nav a {
  font-size: 34px;
}


/* メインビジュアル */
#main-visual {
  position: relative;
  height: auto;
}

#main-visual > img {
  width: 100%;
  height: auto;
  display: block;
}

/* メインビジュアル以外 */
#except-main-visual {
  width: 80%;
  margin: 0 auto;
}

/* About */
#about {
  margin: 80px auto;
}

#about-photo {
  border-radius: 50%;
}

/* Works */
.works-explain{
  padding: 0 20px 0 0;
  width :calc(100%/3);
}

/* フッター */
footer {
  background-color: #ffffff;
  text-align: center;
  padding: 80px 80px 30px 80px;
}

#copyright {
  color: #000000;
  margin: 0;
}

/* ===========
スマホのスタイル
============== */
/* 画像幅が767px以下のとき */
@media screen and (max-width:767px) {
  .flex {
    display: block;
    margin: 0 auto;
  }

  /* About */
  #about-photo {
    width: 100%;
  }

  /* Works */
  .works-photo {
    width: 100%;
  }
  .works-explain {
    text-align: center;
    width: 100%;
    padding: 0;
  }
}